---
title: "All Events"
subtitle: "2017"
layout: base
filter_by: '2017'
---
<style>
  .event{margin-bottom: 1rem; padding: .5rem 0; border-bottom: 1px solid #cbcbcb;}
  .event-archive{list-style: none; margin: 0;}
  .event-archive small{display: block; margin-bottom: .5rem; font-size: .9rem;}
  .event-archive p{margin: 4px 0;}
  .event-archive .event-meta{color: #888;}
</style>
<section class="page-section events-schedule-section">
  <div class="row">
    <div class="small-8 small-centered columns">
      <ul class="event-archive">
      {% for post in site.posts reversed %}
        {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
        {% if year == page.filter_by %}
        <div class="event">
          <h3><small>{{ post.date | date: "%-m/%d/%Y" }}</small> <a class="event-title post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | markdownify }}</a></h3>
          <p class="event-meta">{{ post.times }}, {{ post.location }}</p>
          {{ post.content }}
          {% if post.canceled == "Yes" %}<div class="canceled-label">This event was canceled.</div>{% endif %}
        </div>
        {% endif %}
      {% endfor %}
    </ul>
    </div>
  </div>
</section>
