<div class="social-cta">
  <p><a href="https://www.facebook.com/ComingTogetherSkokie"><i class="facebook-icon"></i>Keep the conversation going. Join us on Facebook.</a></p>
</div>
<footer class="site-footer" role="contentinfo">
  <div class="row">
    <div class="small-6 columns">
      <a href=" {{ site.baseurl }}/" class="brand">{{ site.title }} {{ site.subtitle }}</a>
      <p class="event-dates">{{ site.series_dates }}</p>
    </div>
    <div class="small-6 columns contact-info">
      <p>Questions? <a href="mailto:{{ site.email }}">Get in touch with us</a></p>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <div class="supporting-orgs">
        <h3>Supporting Organizations</h3>
        <p>Skokie Public Library, Niles Township High School District 219, Village of Skokie, Holiday Inn North Shore/Skokie, Indian Community of Niles Township. , Skokie Park District, Skokie elementary and middle schools, Niles Township Schools ELL Parent Center, Skokie business community, Lincolnwood Public Library, Niles Public Library, Morton Grove Public Library</p>
      </div>
      <p>&copy; 2014</p>
    </div>
</footer>
