<div class="social-cta">
  <p><a href="#">Keep the conversation going. <em>#voicesofrace</em></a></p>
</div>
<footer class="site-footer" role="contentinfo">
  <div class="row">
    <div class="medium-6 columns">
      <a href=" {{ site.baseurl }}/" class="brand">{{ site.title }} {{ site.subtitle }}</a>
      <p class="event-dates">{{ site.series_dates }}</p>
    </div>
    <div class="medium-6 columns contact-info">
      <p>Questions? <a href="mailto:{{ site.email }}?subject=Coming+Together+2015">Get in touch with us</a></p>
    </div>
  </div>
  <div class="supporting-orgs">
    <div class="row">
      <div class="small-12 columns">
        <h3>Supporting Organizations</h3>
      </div>
    </div>
    <div class="row">
      <div class="medium-3 columns">
        <ul>
          <li>Affinity</li>
          <li>Assyrian Community</li>
          <li>Evanston/North Shore, NAACP</li>
          <li>Evanston/North Shore YWCA</li>
          <li>Filipino Community</li>
          <li>Golf School District 67 </li>
          <li>Greek Community</li>
          <li>Illinois Holocaust Museum and Education Center</li>
        </ul>
      </div>
      <div class="medium-3 columns">
        <ul>
          <li>Indian Community of Niles Twp</li>
          <li>Insight Church</li>
          <li>Korean Community</li>
          <li>Lincolnwood Chamber of Commerce</li>
          <li>Lincolnwood Public Library</li>
          <li>Morton Grove Community Relations Commission</li>
          <li>Morton Grove Public Library</li>
          <li>Morton Grove School District 70</li>
        </ul>
      </div>
      <div class="medium-3 columns">
        <ul>
          <li>New Trier High School District 203</li>
          <li>Niles Elementary School District 71</li>
          <li>Niles Public Library</li>
          <li>Niles Township High School District 219</li>
          <li>Niles Township Schools’ ELL Parent Center</li>
          <li>Northwestern University</li>
          <li>Shorefront</li>
          <li>Skokie Business Community</li>
        </ul>
      </div>
      <div class="medium-3 columns">
        <ul>
          <li>Skokie Human Relations Commission</li>
          <li>Skokie Park District</li>
          <li>Skokie Public Library</li>
          <li>Oakton Community College</li>
          <li>Skokie School District 68</li>
          <li>Skokie School District 69</li>
          <li>Skokie School District 73 </li>
          <li>Skokie School District 73.5</li>
          <li>Village of Skokie</li>
          <li>Y.O.U
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p>&copy; 2014</p>
      </div>
    </div>
  </div>
</footer>
