<header class="site-header" role="banner" >
  <div class="row">
    <div class="medium-12 columns">
    <a href="{{ site.baseurl }}/" class="brand">Coming <b>Together</b> <small> {{ site.subtitle }}</small></a>
    <!--navigation-->
    <nav class="site-nav" role="navigation" >
      <ul class="nav">
        <li><a href="{{ site.baseurl }}/books">Books</a></li>
        <li><a href="{{ site.baseurl }}/events">Events</a></li>
        <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
      </ul>
    </nav>
    <!--end of navigation-->
    </div>
  </div>
</header>
