<header class="site-header" role="banner" >
  <div class="row">
    <div class="medium-12 columns">
    <a href="{{ site.baseurl }}/" class="brand">Coming <b>Together</b> <small> {{ site.subtitle }}</small></a>
    <!--navigation-->
    <div class="push" style="position: relative;">
      <button class="menu-link">Menu</button>
    </div>
    <nav id="menu" class="site-nav" role="navigation" >
      <ul class="nav">
        <li><a href="{{ site.baseurl }}/books">Read books</a></li>
        <li><a href="{{ site.baseurl }}/events">Attend events</a></li>
        <li><a href="{{ site.baseurl }}/resources">Get resources</a></li>
        <li><a href="{{ site.baseurl }}/about">Learn more</a></li>
      </ul>
    </nav>
    <!--end of navigation-->
    </div>
  </div>
</header>
