<header class="site-header" role="banner" >
  <div class="row">
    <div class="medium-12 columns">
    <a href="{{ site.baseurl }}/" class="brand notranslate">Coming <b>Together</b> <small> {{ site.subtitle }}</small></a>
    <!--navigation-->
    <nav class="site-nav" role="navigation" >
      <ul class="nav">
        <li><a href="{{ site.baseurl }}/books">Books</a></li>
        <li><a href="{{ site.baseurl }}/events">Events</a></li>
        <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li>
          <button class="translate" id="translate">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 96 96" enable-background="new 0 0 96 96" xml:space="preserve"><g><path d="M46.4,52.6c-4.2-4.1-7.9-7.7-10-16h14.7v-6.2H36.5v-8.2h-6.3v8.3H15.5v6.2h15c0,0-0.1,1.2-0.3,2.1   c-2.1,8.2-4.6,13.4-14.7,18.5l2.1,6.2c9.6-5.1,14.6-11.5,16.8-18.6c2.1,5.4,5.7,9.8,9.8,13.8L46.4,52.6z"></path><path d="M65.8,32.5h-8.4L42.7,73.8H49l4.2-12.4H70l4.2,12.4h6.3L65.8,32.5z M55.3,55.2l6.3-16.5l6.3,16.6L55.3,55.2L55.3,55.2z"></path></g></svg>
          </button>
        </li>
      </ul>
    </nav>
    <!--end of navigation-->
    <div class="translate-widget" aria-hidden="true">
      <div id="google_translate_element"></div>
    </div>
    </div>
  </div>
</header>
