<div class="page-header">
  <div class="page-title">
    <h1 {% if page.type == 'homepage' %}class="home-title"{% endif %}>{% if page.type == 'homepage' %}<img src="{{ site.baseurl }}/assets/svg/brand.svg" class="theme" alt="{{ page.title }}">{% elsif page.type == 'event-detail' %}Event{% else %}{{ page.title }}{% endif %}</h1>
  {% if page.type == 'homepage' %}
    <p>{{ site.series_dates }}</p>
  {% elsif page.subtitle %}
    <p>{{ page.subtitle }}</p>
  {% endif %}
  </div>
</div>
<!--<div class="alert">
  <p>This is an archived program. Go back to <a href="/">this year's program.</a></p>
</div>-->
