/*about page styles*/
.past-programs-list a{
  display: block;
  margin-bottom: .5rem;
  text-align: left;
}

.program-label{
  line-height: 1;
  font-size: .9rem;
  font-style: italic;
}

.program-year{
  display: block;
  margin-top: .5rem;
  font-size: 1rem;
  font-style: normal;
}

.past-program-sites{
  @extend .unstyled-list;
}
