
/*base styles*/
body{
  background: $white url('../img/viva-header.png') no-repeat top center fixed;
  background-size: cover;
   font: 400 16px/1.4 'Lato', sans-serif;
   color: $black;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Lato', sans-serif;
   font-weight: 700;
}

h2{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $red;
}

h3{
  font-size: 1.1rem;
}

h4{
  font-size: 1rem;
   margin-bottom: 2px;
}

a{
  color: $red;
  transition: opacity .2s ease;
}

a:hover{
  color: darken($red, 10%);
  opacity: .6;
}

button, .button{
  font-family: inherit;
  font-weight: 700;
}

button:focus, .button:focus{
  background-color: $red;
}

.button{
  text-transform: uppercase;
}

.line-button{
  background: transparent;
   border: 2px solid $red;
   color: $red;

   &:hover{
      background: transparent;
      color: $red;
   }
}

.video figcaption{
  margin: .5rem 0 1rem;
   font-size: .8rem;
}

img.portrait{
  border-radius: 50%;
}

/*page stuff*/
.video{
  margin: 1rem 0 1.5rem;
   padding: 6px 0 3px 0;
   border-top: 1px solid #cbcbcb;
}

.page-content h2{
  margin-top: 0;
}

.page-section{
  padding: 3rem 0;

  &:last-of-type{
    padding-bottom: 0;
  }
}

.page-content{
  background: $white;
}

.homepage .page-content{
  background: transparent;
}

.alert{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem 1rem;
  text-align: center;
  background: #fff;
  z-index: 9999;

  p{

    margin: 0;

}



}
