/*book page styles*/
.book{
  margin-bottom: 2rem;
}

.book h2{
  margin-bottom: 1rem;
  line-height: 1.2;

  > small{
    display: block;
    margin-top: .325rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1;
  }

}

.book h4{
  font-size: 1rem;
  font-style: italic;
}

.book-cover{
  float: right;
  max-width: 40%;
  margin: 0 0 2rem 2rem;
}

.audience{
  margin-bottom: .375rem;
  font-size: .875rem;
  font-style: italic;
}

.find-book{
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.find-book li a:before {
  content: "\0BB \020";
}

.page-callout{
  margin-bottom: 2rem;
  padding: 2rem 0;
  background-color: darken($white, 8%);
}

.author-visit {
  h3{
    font-size: 1.2rem;

    > small{
      display: block;
      margin-bottom: .5rem;
      font-size: .8rem;
      text-transform: uppercase;
    }
  }

  .portrait{
    margin-bottom: 1rem;
  }
}

.unstyled-list{
  list-style: none;
  margin: 0;
}

.book-cover{
  @media only screen and (min-width: 40.063em){
    float: right;
    max-width: 268px;
    margin: 0 0 2rem 2rem;
  }
}
