/*purple: #9e1e62*/
/*Cheddar Jack font from http://www.dafont.com/cheddar-jack.font*/
@font-face {
  font-family: 'CheddarJack';
  src: url('../fonts/cheddar-jack.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../fonts/cheddar-jack.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

$desktop-break: 64.063em;

body{background: #9e1e62 url(../img/hands.jpg) no-repeat top center fixed; font: 300 16px/1.4 'Lato', sans-serif; color: #303030;}
h1,h2,h3,h4,h5,h6{font-family: 'Lato', sans-serif; font-weight: 300;}
h2{font-size: 1.5rem; text-transform: uppercase; color: #9e1e62;}
h3{font-size: 1.1rem; font-weight: 400;}
h4{font-size: 1rem; margin-bottom: 2px;}
p, blockquote, li{font-weight: 300;}
a{color: #9e1e62;}
a:hover{color: #711448;}
button, .button{font-family: inherit;}
button:focus, .button:focus{background-color: #711448}
.button{text-transform: uppercase;}
.line-button{background: transparent; border: 1px solid #9e1e62; color: #9e1e62;}
.line-button:hover{ border-color: #711448; background: #711448; color: #fff;}
.video figcaption{margin-bottom: .5rem; font-size: .8rem;}
img.portrait{border-radius: 50%;}
/*page stuff*/
.video{margin-bottom: 1.5rem; padding: 6px 0 3px 0; border-top: 1px solid #cbcbcb;}
.page-content{background-color: #efefef;}
.page-content h2{margin-top: 0;}
.page-section{padding: 40px 0;}
