$row-width: rem-calc(1024);
$desktop-break: 64.063em;

$red: #fe5d02;
$blue: #1caae1;

$black: #222;
$white: #fff;

$books-authors: #00A79D;
$film: #F7941E;
$kids-family: #9E1F63;
$lecture: #EF4136;
$presentation: #FFDE17;
$workshop: #8DC63F;
