/*header and nav styles*/
.site-header{
  padding: 1rem 0;
  background: $white;
}

.site-header a{
  text-decoration: none;
  text-transform: uppercase;
}

.brand{
  font-size: 1.333rem;
  text-transform: uppercase;
}

.site-header .brand{
  display: block;
  padding-top: .7rem;
  color: $black;
  text-align: center;

  @media only screen and (min-width: $desktop-break){
    float: left;
    text-align: left;
  }
}

.brand small{
  display: block;
  font-size: .6rem;

}

.site-nav{
  float: none;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  clear: both;

  @media only screen and (min-width: $desktop-break){
    float: right;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    clear: none;
  }
}

.nav{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.nav li a{
  display: flex;
  align-items: flex-start;
  padding: .5rem;
  color: $black;

  @media only screen and (min-width: $desktop-break){
    padding: 1rem;
  }
}

.page-header{
  position: relative;
  padding: 6rem 0;
  text-align: center;
}

.page-title h1, .page-title p{
  margin: 0;
  color: #fff;
}

.page-title h1{
  font-family: ChalkyChicken;
  font-size: 2.5rem;
  text-transform: uppercase;
}

h1.home-title{
  padding-top: 0;
  font-size: 5rem;
  line-height: 1;
  text-transform: none;
  animation: focus 1s ease-out;

  @media only screen and (min-width: $desktop-break){
    font-size: 6em;
  }
}

.page-title p{
  font-size: 1.5rem;
}

@keyframes focus{
  from{
    filter: blur(100px);
  }
  to{
    filter: blur(0);
  }
}
