/*homepage styles*/
.feature-section{
  padding: 80px 20px;

  h2{
    margin-top: .4rem;
    font-size: 2.5rem;
    color: $red;
    text-transform: uppercase;

    > small{
      display: block;
      margin-bottom: .325rem;
      font-family: 'Lato';
      font-size: .625rem;
      color: $red;
      letter-spacing: .5px;

      > em{
        font-style: normal;
        text-transform: none;
      }

    }

    p{
      font-size: 1.2rem;
    }

  }

  @media only screen and (min-width: $desktop-break){
    padding: 80px 120px;
  }

}

.events-section{
  background: $white;

  p:last-of-type{
    margin-bottom: 2rem;
  }

}

.events-section{}

.books-section{
  background: $red;

  h2{
    color: $white;

    &> small{
      color: $white;
    }
  }

  p:last-of-type{
    margin-bottom: 2rem;
  }

  .line-button{
    border-color: $white;
    color: $white;
  }
}

.quote-section{
  overflow: hidden;

  @media only screen and (min-width: $desktop-break){
    max-height: 400px;
  }

  .featured-quote{
    margin: 0;
    padding: 0;
    border: 0;

  }

  .featured-quote p{
    margin-bottom: .5rem;
    font-size: 2rem;
    color: $black;
  }

  .featured-quote footer{
    text-align: right;
    text-transform: uppercase;
  }

  .featured-quote cite{
    font-style: normal;
  }

}
