/*header and nav styles*/
.site-header{position: absolute; top: .5rem; left: 0; width: 100%; height: 64px; z-index: 5000;}
.site-header a{color: #fff; text-decoration: none; text-transform: uppercase;}
.brand{font-size: 1.333rem; text-transform: uppercase; font-weight: 300;}
.site-header .brand{float: left; padding-top: .7rem;}
.brand small{display: block; font-size: .6rem; }
.menu-link{float: right; margin-top: .7rem; padding: .9rem 1rem; background: #711448; border: 0; font-weight: 300;}
.menu-link:hover, .menu-link:focus{background-color:#9e1e62; outline: 0;}
.menu-link:focus{background-color: #9e1e62;}
.site-nav{position: fixed; right: -15.625em; width: 15.625em; background-color: #9e1e62; border: 0;}
.nav{list-style: none; margin: 0; padding: 0; }
.nav li{display: block;}
.nav li a{display: block; padding: 1rem;}
.nav li a:hover{background-color: #711448;}
.page-header{position: relative; height: 360px; text-align: center;}
.page-title{position: absolute; top: 50%; width: 100%; z-index: 1000;}
.page-title h1, .page-title p{margin: 0; color: #fff;}
.page-title h1{font-size: 3rem; text-transform: uppercase;}
h1.home-title{padding-top: 0; font-size: 5rem; font-family: 'CheddarJack', Fallback, cursive; font-weight: 300; line-height: 1; text-transform: none;}
.page-title p{font-size: 1.5rem;}

@media only screen and (min-width: $desktop-break){
  .menu-link{position: absolute; clip: rect(0px 0px 0px 0px);}
  .site-nav{position: static; float: right; width: auto; background-color: transparent; text-align: right; }
  .nav li{display: inline-block;}
  h1.home-title{font-size: 6em;}
}
