/*resources styles*/
.video figcaption{margin-bottom: .5rem;line-height: 1.1; font-size: .8rem;}
.video{margin-bottom: 1.5rem; padding: 6px 0 3px 0; border-top: 1px solid #cbcbcb;}
.video-section .video{margin-bottom: 0; border-top: 1px solid #888;}
.video-section .video figcaption{font-size: 100%; font-style: italic;}
.video-section p{margin-top: 0; font-size: .9rem;}
.past-programs-list a{display: block; text-align: left;}
.program-label{line-height: 1; font-size: .9rem; font-style: italic; }
.program-year{display: block; margin-top: .5rem; font-size: 1rem; font-style: normal;}
.video-section{margin-top: 2rem; padding: 20px 0; }
.activity{margin-bottom: 1rem; padding-top: 1rem; border-top: 1px solid #cbcbcb;}
.more-readings{padding: 1rem;}
.essay-preview{ margin-bottom: 1.5rem;}
.essay-excerpt{font-style: italic;}
.image figcaption{margin-top: 1rem; padding-top: .5rem; border-top: 1px solid #cbcbcb; font-size: .8rem; font-style: italic;}
.set-right{width: 40%; float: right; margin-left: 2rem; margin-bottom: 1rem;}
