---
title: Attend events
layout: base
---
<style>
  .page-section{padding: 20px 0;}
  .events-list h2{font-weight: 400; font-size: 1.6rem; text-transform: none; color: #9e1e62;}
  .event{margin-top: 1rem;}
  .event-meta{border-bottom: 1px solid #cbcbcb;}
  .event-meta h3{margin: 0; font-size: 1rem; font-weight: 400;}
  .event-meta p{margin-bottom: 0;}
  .event-location{text-align: right;}
  .event-details{margin-top: 6px;}
  .event-audiences-list, .event-types-list{list-style: none; margin-left: 0;}
  .event-audiences-list li{display: inline; font-size: .9em; text-transform: uppercase;}
</style>
<section class="page-section events-schedule-section">
  <div class="row">
    <div class="medium-4 push-8 columns">
      <h3>Filters</h3>
    </div>
    <div class="medium-8 pull-4 columns">
    {% for post in site.posts reversed %}
      {% capture currentdate %}{{post.date | date: "%A, %B %d"}}{% endcapture %}
        {% if currentdate != date %}
          {% unless forloop.first %}</div>{% endunless %}
          <div class="events-list single-day {{ post.date | date: "%Y-%d-%m"}}">
            <h2>{{ currentdate }}</h2>
          {% capture date %}{{currentdate}}{% endcapture %}
        {% endif %}
            <div class="event">
              <div class="event-meta">
                <div class="row">
                  <div class="event-times medium-3 columns">
                    <p>{{ post.times }}</p>
                  </div>
                  <div class="medium-6 columns">
                    <h3>
                      <a class="event-title post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h3>
                  </div>
                  <div class="event-location medium-3 columns">
                    <p>{{ post.location }}</p>
                  </div>
                </div>
              </div>
              <div class="event-details">
                <div class="row">
                  <div class="medium-3 columns">
                    <!--audiences-->
                    <ul class="event-audiences-list">
                    {% for c in post.audiences %}
                      <li>{{ c }}</li>
                    {% endfor %}
                    </ul>
                    <!--event types-->
                    <ul class="event-types-list">
                    {% for t in post.types %}
                      <li>{{ t }}</li>
                    {% endfor %}
                    </ul>
                  </div>
                  <div class="medium-9 columns">
                    {{ post.content }}
                  </div>
                </div>
              </div>
            </div><!--end of single event-->
          {% endfor %}
        </div><!--end of a day-->
    </div>
  </div>
</section>
<section class="page-section locations-section">
  <div class="row">
    <h2>Locations</h2>
  </div>
</section>
