---
title: Attend events
layout: base
---
<style>
  .page-section{padding: 40px 0;}
  .events-list h2{font-weight: 400; font-size: 1.6rem; text-transform: none; color: #9e1e62;}
  .event{margin-top: 1rem;}
  .event-meta{border-bottom: 1px solid #cbcbcb;}
  .event-meta h3{margin: 0; font-size: 1rem; font-weight: 400;}
  .event-meta p{margin-bottom: 0;}
  .location{text-align: right;}
  .event-details{margin-top: 6px;}
  .event-audiences-list, .event-types-list{list-style: none; margin: 0 0 6px 0;}
  .event-audiences-list li{display: inline; font-size: .9rem; text-transform: uppercase;}
  .event-audiences-list li:after{ content:",";}
  .event-audiences-list li:last-of-type:after{content: "";}
  .event-types-list li{margin-bottom: .5rem; font-size: .8rem;}
  .event-type{display: inline-block; height: 24px; width: 24px; margin-right: 5px; background: url(../assets/img/event-type-sprite.png); vertical-align: middle;}
  .type-performance{background-position: 0 0;}
  .type-film{background-position: -24px 0;}
  .type-books-authors{background-position: -48px 0;}
  .type-workshop{background-position: -72px 0;}
  .type-kids-family{background-position: -96px 0;}
  .type-lecture{background-position: -120px 0;}
  .filters h3{border-bottom: 1px solid #cbcbcb; font-size: 1rem; text-transform: uppercase;}
  .filters h4{margin-top: 1rem; font-size: .9rem; text-transform: uppercase;}
  .filters ul{list-style: none; margin: 0 0 1rem 0;}
  .type-filters li{margin-bottom: 10px;}
  .filter{display: inline-block; padding: .4rem; background-color: #e0e0e0; font-family: inherit; font-weight: 300 !important; color: #9e1e62; }
  .filter:hover{background-color:#711448; }
  .filter.active{background-color: #cbcbcb; outline: 0;}
  .hide{display: none;}
</style>
<section class="page-section events-schedule-section">
  <div class="row">
    <div class="medium-3 medium-offset-1 push-8 columns">
      <div class="filters">
        <h3>Filter by</h3>
        <button class="filter" data-filter="all">Reset</button>
        <h4>Audience</h4>
        <div class="audience-filters">
          <button class="filter" data-filter=".audience-kids">Kids</button>
          <button class="filter" data-filter=".audience-teens">Teens</button>
          <button class="filter" data-filter=".audience-adults">Adults</button>
        </div>
        <h4>Event type</h4>
        <div class="type-filters">
          <button class="filter" data-filter=".type-books-authors"><i class="event-type type-books-authors"></i>Books/Authors</button>
          <button class="filter" data-filter=".type-film"><i class="event-type type-film"></i>Films</button>
          <button class="filter" data-filter=".type-kids-family"><i class="event-type type-kids-family"></i>Kids/Family</button>
          <button class="filter" data-filter=".type-lecture"><i class="event-type type-lecture"></i>Lectures</button>
          <button class="filter" data-filter=".type-performance"><i class="event-type type-performance"></i>Performance</button>
          <button class="filter" data-filter=".type-workshop"><i class="event-type type-workshop"></i>Workshops</button>
        </div>
        <h4>Locations</h4>
          <div class="location-filters">
            <button class="filter" data-filter=".location-another-place">Another Place</button>
            <button class="filter" data-filter=".location-skokie-park-district">Skokie Park District</button>
            <button class="filter" data-filter=".location-skokie-public-library">Skokie Public Library</button>
          </div>
      </div>
    </div>
    <div class="medium-8 pull-4 columns" id="events-schedule">
    {% for post in site.posts reversed %}
      {% capture currentdate %}{{post.date | date: "%A, %B %d"}}{% endcapture %}
        {% if currentdate != date %}
          {% unless forloop.first %}</div>{% endunless %}
          <div class="events-list single-day {{ post.date | date: "%Y-%d-%m"}}">
            <h2>{{ currentdate }}</h2>
          {% capture date %}{{currentdate}}{% endcapture %}
        {% endif %}
            <div class="event {% for a in post.audiences %}audience-{{ a | slugify }} {% endfor %}{% for t in post.types %}type-{{ t | slugify }} {% endfor %} {{ post.location | slugify }}">
              <div class="event-meta">
                <div class="row">
                  <div class="event-times medium-3 columns">
                    <p>{{ post.times }}</p>
                  </div>
                  <div class="medium-6 columns">
                    <h3>
                      <a class="event-title post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h3>
                  </div>
                  <div class="location medium-3 columns">
                    <p>{{ post.location }}</p>
                  </div>
                </div>
              </div>
              <div class="event-details">
                <div class="row">
                  <div class="medium-3 columns">
                    <!--audiences-->
                    <ul class="event-audiences-list">
                    {% for a in post.audiences %}
                      <li>{{ a }}</li>
                    {% endfor %}
                    </ul>
                    <!--event types-->
                    <ul class="event-types-list">
                    {% for t in post.types %}
                      <li><i class="event-type type-{{ t | slugify }}"></i>{{ t }}</li>
                    {% endfor %}
                    </ul>
                  </div>
                  <div class="medium-9 columns">
                    {{ post.content }}
                  </div>
                </div>
              </div>
            </div><!--end of single event-->
          {% endfor %}
        </div><!--end of a day-->
    </div>
  </div>
</section>
<section class="page-section locations-section">
  <div class="row">
    <h2>Locations</h2>
  </div>
</section>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.mixitup.min.js"></script>
<script>
  $(function(){
      $('.event').addClass('hide');
      $('#events-schedule').mixItUp({
        animation: {
          enable: false
        },
        selectors: {
          target: '.event'
        }
      });
  });
</script>
